.user-item-container {
    display: flex;
    width: 100%;
    /* align-items: flex-end; */
    justify-content: end;
    flex-direction: column;
}

.user-pfp-name-container {
    display: flex;
    justify-content: end;
    gap: 1rem;
    align-items: center;
}

.user-pfp-container {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: white;
    background-image: url(../../assets/img/elonprofile.png);
    background-position: center;
    background-size: cover;
}

.user-name-container {
    color: #1764c2;
}

.user-txt-container {
    margin-right: calc(32px );
    margin-left: calc(32px + 1rem);
    text-align: left;
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
    padding: 10px;
}