.trump-pfp-name-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.trump-pfp-container {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: white;
    background-image: url(../../assets/img/trumpsideprofile.png);
    background-position: center;
    background-size: cover;
}

.trump-name-container {
    color: rgb(255, 66, 66);
}

.trump-txt-container {
    margin-left: calc(32px + 1rem);
    margin-right: calc(32px);
}